<div ng-controller="activistUCtrl">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!--<div>-->
            <!--<span style="font-size: 25px;font-weight: bold">-->
                <!--培养联系人:-->
            <!--</span>-->
            <!--<span style="font-size:20px;font-weight: bold;margin-left: 20px">-->
                <!--姓名：-->
            <!--</span>-->
            <!--{{linkman1}}-->
            <!--<span style="font-size: 20px;font-weight: bold;margin-left: 20px">-->
                <!--电话：-->
            <!--</span>-->
            <!--{{phoneNumber1}}-->
            <!--<span style="font-size: 20px;font-weight: bold;margin-left: 20px">-->
                <!--姓名：-->
            <!--</span>-->
            <!--{{linkman2}}-->
            <!--<span style="font-size: 20px;font-weight: bold;margin-left: 20px">-->
                <!--电话：-->
            <!--</span>-->
            <!--{{phoneNumber2}}-->
        <!--</div>-->
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">入党积极分子考察表图片：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload0Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList0">
                            <td style="width: 50%"><a ng-click="ImageShow(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="activist0FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file0Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="activist0FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="activistForm0" style="display: none">
                    <input name="index" value="0">
                    <input type="file" id="activist0FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('activist0FileChoose',0)"
                           accept="image/*"
                           ng-model="activist0FileChoose" name="file"/>
                    <input id="activist0FileUpload" type="button" ng-click="upload('activistForm0')">
                </form>
            </div>
        </div>
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">思想汇报一图片上传说明：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload1Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList1">
                            <td style="width: 50%"><a ng-click="ImageShow(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="activist1FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file1Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="activist1FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="activistForm1" style="display: none">
                    <input name="index" value="1">
                    <input type="file" id="activist1FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('activist1FileChoose',1)"
                           accept="image/*"
                           ng-model="activist1FileChoose" name="file"/>
                    <input id="activist1FileUpload" type="button" ng-click="upload('activistForm1')">
                </form>
            </div>
        </div>
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">思想汇报一文档上传说明：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload2Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList2">
                            <td style="width: 50%"><a ng-click="fileDownload(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="activist2FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file2Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="activist2FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="activistForm2" style="display: none">
                    <input name="index" value="2">
                    <input type="file" id="activist2FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('activist2FileChoose',2)"
                           accept="application/msword,.docx"
                           ng-model="activist2FileChoose" name="file"/>
                    <input id="activist2FileUpload" type="button" ng-click="upload('activistForm2')">
                </form>
            </div>
        </div>
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">思想汇报二图片上传说明：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload3Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList3">
                            <td style="width: 50%"><a ng-click="ImageShow(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="activist3FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file3Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="activist3FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="activistForm3" style="display: none">
                    <input name="index" value="3">
                    <input type="file" id="activist3FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('activist3FileChoose',3)"
                           accept="image/*"
                           ng-model="activist3FileChoose" name="file"/>
                    <input id="activist3FileUpload" type="button" ng-click="upload('activistForm3')">
                </form>
            </div>
        </div>
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">思想汇报二文档上传说明：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload4Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList4">
                            <td style="width: 50%"><a ng-click="fileDownload(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="activist4FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file4Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="activist4FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="activistForm4" style="display: none">
                    <input name="index" value="4">
                    <input type="file" id="activist4FileChoose"
                           accept="application/msword,.docx"
                           onchange="angular.element(this).scope().ChooseFileChange('activist4FileChoose',4)"
                           ng-model="activist4FileChoose" name="file"/>
                    <input id="activist4FileUpload" type="button" ng-click="upload('activistForm4')">
                </form>
            </div>
            <div style="width: 100%;margin-top: 10px">
                <div style="height: 450px">
                    <span style="font-size: 20px;font-weight: bold">参加入党积极分子培训班结业证图片：</span><br/>
                    <textarea style="width: 60%" rows="5" readonly>{{upload5Instruction}}</textarea>
                    <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                        <table class="table" align="center" style="width: 700px;">
                            <thead>
                            <tr>
                                <th style="width: 50%">文件名</th>
                                <th style="width: 30%">上传时间</th>
                                <th style="width: 10%">状态</th>
                                <th style="width: 10%">删除</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="x in fileList5">
                                <td style="width: 50%"><a ng-click="ImageShow(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                                </td>
                                <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                                <td style="width: 10%">{{statusConvert(x.status)}}</td>
                                <td style="width: 10%">
                                    <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div>

                        </div>
                        <div>
                            <label for="activist5FileChoose" class="btn btn-primary btn-lg"
                                   style="width: 150px;margin-top: 10px">
                                <span style="font-size: 20px">选择文件</span>
                            </label>
                        </div>
                        <div>
                            <label type="button" style="width: 150px;margin-top: 10px">
                                <span style="font-size: 10px">{{file5Name}}</span>
                            </label>
                        </div>
                        <div>
                            <label for="activist5FileUpload" type="button" class="btn btn-primary btn-lg"
                                   style="width: 150px;margin-top: 10px">
                                <span style="font-size: 20px">上传</span>
                            </label>
                        </div>
                    </div>
                    <form id="activistForm5" style="display: none">
                        <input name="index" value="5">
                        <input type="file" id="activist5FileChoose"
                               onchange="angular.element(this).scope().ChooseFileChange('activist5FileChoose',5)"
                               accept="image/*"
                               ng-model="activist5FileChoose" name="file"/>
                        <input id="activist5FileUpload" type="button" ng-click="upload('activistForm5')">
                    </form>
                </div>
            </div>
            <div style="width: 100%;margin-top: 10px">
                <div style="height: 450px">
                    <span style="font-size: 20px;font-weight: bold"> 联系人谈话：</span><br/>
                    <textarea style="width: 60%" rows="5" readonly>{{upload6Instruction}}</textarea>
                    <div class="col-md-8"
                         style="overflow-x: auto; overflow-y: auto; height: 300px">
                        <table class="table" align="center" style="width: 700px;">
                            <thead>
                            <tr>
                                <th style="width: 50%">文件名</th>
                                <th style="width: 30%">上传时间</th>
                                <th style="width: 10%">状态</th>
                                <th style="width: 10%">删除</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="x in fileList6">
                                <td style="width: 50%"><a ng-click="ImageShow(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                                </td>
                                <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                                <td style="width: 10%">{{statusConvert(x.status)}}</td>
                                <td style="width: 10%">
                                    <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div>

                        </div>
                        <div>
                            <label for="activist6FileChoose" class="btn btn-primary btn-lg"
                                   style="width: 150px;margin-top: 10px">
                                <span style="font-size: 20px">选择文件</span>
                            </label>
                        </div>
                        <div>
                            <label type="button" style="width: 150px;margin-top: 10px">
                                <span style="font-size: 10px">{{file6Name}}</span>
                            </label>
                        </div>
                        <div>
                            <label for="activist6FileUpload" type="button" class="btn btn-primary btn-lg"
                                   style="width: 150px;margin-top: 10px">
                                <span style="font-size: 20px">上传</span>
                            </label>
                        </div>
                    </div>
                    <form id="activistForm6" style="display: none">
                        <input name="index" value="6">
                        <input type="file" id="activist6FileChoose"
                               accept="image/*"
                               onchange="angular.element(this).scope().ChooseFileChange('activist6FileChoose',6)"
                               ng-model="activist6FileChoose" name="file"/>
                        <input id="activist6FileUpload" type="button" ng-click="upload('activistForm6')">
                    </form>
                </div>
            </div>
            <div style="width: 100%;margin-top: 10px">
                <div style="height: 450px">
                    <span style="font-size: 20px;font-weight: bold">其他资料：</span><br/>
                    <textarea style="width: 60%" rows="5" readonly>{{upload7Instruction}}</textarea>
                    <div class="col-md-8"
                         style="overflow-x: auto; overflow-y: auto; height: 300px">
                        <table class="table" align="center" style="width: 700px;">
                            <thead>
                            <tr>
                                <th style="width: 50%">文件名</th>
                                <th style="width: 30%">上传时间</th>
                                <th style="width: 10%">状态</th>
                                <th style="width: 10%">删除</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="x in fileList7">
                                <td style="width: 50%"><a ng-click="fileDownload(x.activistId)" style="cursor:pointer">{{x.fileName.substring(19)}}</a>
                                </td>
                                <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                                <td style="width: 10%">{{statusConvert(x.status)}}</td>
                                <td style="width: 10%">
                                    <button ng-click="delete(x.activistId)" ng-if="statusCheck(x.status)">删除</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div>

                        </div>
                        <div>
                            <label for="activist7FileChoose" class="btn btn-primary btn-lg"
                                   style="width: 150px;margin-top: 10px">
                                <span style="font-size: 20px">选择文件</span>
                            </label>
                        </div>
                        <div>
                            <label type="button" style="width: 150px;margin-top: 10px">
                                <span style="font-size: 10px">{{file7Name}}</span>
                            </label>
                        </div>
                        <div>
                            <label for="activist7FileUpload" type="button" class="btn btn-primary btn-lg"
                                   style="width: 150px;margin-top: 10px">
                                <span style="font-size: 20px">上传</span>
                            </label>
                        </div>
                    </div>
                    <form id="activistForm7" style="display: none">
                        <input name="index" value="7">
                        <input type="file" id="activist7FileChoose"
                               accept="application/zip"
                               onchange="angular.element(this).scope().ChooseFileChange('activist7FileChoose',7)"
                               ng-model="activist7FileChoose" name="file"/>
                        <input id="activist7FileUpload" type="button" ng-click="upload('activistForm7')">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
<div class="col-md-2"></div>
</div>
<div class="col-md-2"></div>
</div>

</div>