<div ng-controller="activistMCtrl">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">入党积极分子考察表图片：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload0Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(0)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">思想汇报一图片上传说明：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload1Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(1)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">思想汇报一文档上传说明：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload2Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(2)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">思想汇报二图片上传说明：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload3Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(3)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">思想汇报二文档上传说明：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload4Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(4)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">参加入党积极分子培训班结业证图片：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload5Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(5)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">联系人谈话：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload6Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(6)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">其他资料：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload7Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(7)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="margin-top: 50px" class="well">所有申请人列表</div>
        <div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>已上传</th>
                    <th>未通过</th>
                    <th>操作</th>
                    <th style="display: none">审核</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in allActivists">
                    <td>{{x.name}}</td>
                    <td>{{x.userId}}</td>
                    <td>{{x.count}}</td>
                    <td>{{x.countN}}</td>
                    <td><input type="button" value="查看详情" ng-click="tableAction(x.userId)"></td>
                    <td><input type="button" value="审核" style="display: none"></td>
                </tr>
                </tbody>
            </table>
            <div style="margin-top: 20px">
                <span>
                    {{activistCount}}
                </span>
                <span style="float: right">
                    <a>上一页</a>
                    <a>下一页</a>
                </span>
            </div>
        </div>
    </div>
    <div class="modal fade sewDetail" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div style="background-color: rgb(255,255,255);;width: 800px;height: 600px;position: fixed;left: 50%;top: 50%; margin: -300px 0 0 -400px;overflow: auto;padding: 10px">
            <div>
                <span>姓名：{{model.name}}</span>
                <span>学号：{{model.id}}</span>
                <span>班级：{{model.classAndGrade}}</span>
                <span><input type="button" value="通过申请" ng-if="isSuperAdmin"></span>
            </div>
            <br>
            <div>
            <span style="font-weight: bold">
                培养联系人:
            </span>
                <span style="font-weight: bold">
                姓名：
            </span>
                <input ng-model="linkMan0" style="width: 100px">
                <span style="font-weight: bold">
                电话：
            </span>
                <input ng-model="linkNumber0" style="width: 100px">
                <span style="font-weight: bold">
                姓名：
            </span>
                <input ng-model="linkMan1" style="width: 100px">
                <span style="font-weight: bold">
                电话：
            </span>
                <input ng-model="linkNumber1" style="width: 100px">
                <input type="button" value="保存">
            </div>
            <div style="margin-top: 50px" class="well">入党积极分子考察表图片已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
            <div style="margin-top: 50px" class="well">思想汇报一图片上传说明已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
            <div style="margin-top: 50px" class="well">思想汇报一文档上传说明已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
            <div style="margin-top: 50px" class="well">思想汇报二图片上传说明已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
            <div style="margin-top: 50px" class="well">思想汇报二文档上传说明已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
            <div style="margin-top: 50px" class="well">参加入党积极分子培训班结业证图片已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
            <div style="margin-top: 50px" class="well">联系人谈话已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
            <div style="margin-top: 50px" class="well">其他资料已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 50%">文件名</td>
                    <td style="width: 30%">上传时间</td>
                    <td style="width: 20%">删除</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
