<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>数计学院党务管理系统</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/ajaxfileupload.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-ui-router.js"></script>
    <script src="../js/mainPage.js"></script>
    <script src="../js/ocLazyLoad.min.js"></script>
</head>
<body ng-app="mainPageApp" ng-controller="mainPageCtrl">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="cursor:pointer;">数计学院党务管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ng-class="{1:'active'}[whoIsActive]"><a href="#!/proposerU" ng-click="iAmActive(1)">申请人</a></li>
                <li ng-class="{2:'active'}[whoIsActive]"><a href="#!/activistU" ng-click="iAmActive(2)">积极分子</a></li>
                <li ng-class="{3:'active'}[whoIsActive]"><a href="#!/developmentU" ng-click="iAmActive(3)">发展对象</a></li>
                <li ng-class="{4:'active'}[whoIsActive]"><a href="#!/probationaryU" ng-click="iAmActive(4)">预备党员</a></li>
                <li ng-class="{5:'active'}[whoIsActive]"><a href="#!/partymemberU" ng-click="iAmActive(5)">党员</a></li>
            </ul>
            <ul class="nav navbar-nav" style="float: right">
                <li><a style="cursor:pointer;">{{userPermission}}</a></li>
                <li><img src="../img/githubLogo.png" style="max-height: 50px;cursor:pointer"></li>
                <li><a ng-click="iAmActive(0)">{{userName}}</a> </li>
                <li ng-class="{0:'active'}[whoIsActive]"><a href="#" ng-click="iAmActive(0)">个人中心</a></li>
                <li ><a ng-click="logout()" style="cursor:pointer;">退出</a> </li>
            </ul>
        </div>
    </div>
</nav>
<ui-view></ui-view>
<div ng-include="'footer.html'"></div>
</body>
</html>