<div ng-controller="probationaryUCtrl">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">思想汇报（图片）：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload0Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList0">
                            <td style="width: 50%"><a ng-click="ImageShow(x.probationaryId)" style="cursor:pointer">{{x.fileName}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.probationaryId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="probationary0FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file0Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="probationary0FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="probationaryForm0" style="display: none">
                    <input name="index" value="0">
                    <input type="file" id="probationary0FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('probationary0FileChoose',0)"
                           accept="image/*"
                           ng-model="probationary0FileChoose" name="file"/>
                    <input id="probationary0FileUpload" type="button" ng-click="upload('probationaryForm0')">
                </form>
            </div>
        </div>
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">思想汇报（Word）：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload1Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList1">
                            <td style="width: 50%"><a ng-click="fileDownload(x.probationaryId)" style="cursor:pointer">{{x.fileName}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.probationaryId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="probationary1FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file1Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="probationary1FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="probationaryForm1" style="display: none">
                    <input name="index" value="1">
                    <input type="file" id="probationary1FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('probationary1FileChoose',1)"
                           accept="application/msword,.docx"
                           ng-model="probationary1FileChoose" name="file"/>
                    <input id="probationary1FileUpload" type="button" ng-click="upload('probationaryForm1')">
                </form>
            </div>
        </div>
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">转正申请书（图片）：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload2Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList2">
                            <td style="width: 50%"><a ng-click="ImageShow(x.probationaryId)" style="cursor:pointer">{{x.fileName}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.probationaryId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="probationary2FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file2Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="probationary2FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="probationaryForm2" style="display: none">
                    <input name="index" value="2">
                    <input type="file" id="probationary2FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('probationary2FileChoose',2)"
                           accept="image/*"
                           ng-model="probationary2FileChoose" name="file"/>
                    <input id="probationary2FileUpload" type="button" ng-click="upload('probationaryForm2')">
                </form>
            </div>
        </div>
        <div style="width: 100%;margin-top: 10px">
            <div style="height: 450px">
                <span style="font-size: 20px;font-weight: bold">其他资料（图片）：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload3Instruction}}</textarea>
                <div class="col-md-8" style="overflow-x: auto; overflow-y: auto; height: 300px">
                    <table class="table" align="center" style="width: 700px;">
                        <thead>
                        <tr>
                            <th style="width: 50%">文件名</th>
                            <th style="width: 30%">上传时间</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">删除</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="x in fileList3">
                            <td style="width: 50%"><a ng-click="ImageShow(x.probationaryId)" style="cursor:pointer">{{x.fileName}}</a>
                            </td>
                            <td style="width: 30%">{{timeConvert(x.date.time)}}</td>
                            <td style="width: 10%">{{statusConvert(x.status)}}</td>
                            <td style="width: 10%">
                                <button ng-click="delete(x.probationaryId)" ng-if="statusCheck(x.status)">删除</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div>

                    </div>
                    <div>
                        <label for="probationary3FileChoose" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">选择文件</span>
                        </label>
                    </div>
                    <div>
                        <label type="button" style="width: 150px;margin-top: 10px">
                            <span style="font-size: 10px">{{file3Name}}</span>
                        </label>
                    </div>
                    <div>
                        <label for="probationary3FileUpload" type="button" class="btn btn-primary btn-lg"
                               style="width: 150px;margin-top: 10px">
                            <span style="font-size: 20px">上传</span>
                        </label>
                    </div>
                </div>
                <form id="probationaryForm3" style="display: none">
                    <input name="index" value="3">
                    <input type="file" id="probationary3FileChoose"
                           onchange="angular.element(this).scope().ChooseFileChange('probationary3FileChoose',3)"
                           accept="image/*"
                           ng-model="probationary3FileChoose" name="file"/>
                    <input id="probationary3FileUpload" type="button" ng-click="upload('probationaryForm3')">
                </form>
            </div>
        </div>

    </div>
</div>