<div ng-controller="proposerMCtrl">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">申请书（图片）上传格式说明：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload0Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(0)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="width: 100%">
            <span style="font-size: 20px;font-weight: bold">申请书（Word）上传格式说明：</span><br/>
            <textarea style="width: 60%" rows="5" ng-model="upload1Instruction"></textarea><br/>
            <label class="btn btn-default btn-lg"
                   style="background: #3e58c7;width: 140px;color: white" ng-click="saveUploadInstruction(1)">
                <span style="font-size: 20px">保存</span>
            </label>
        </div>
        <div style="margin-top: 50px" class="well">所有申请人列表</div>
        <div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>已上传</th>
                    <th>未通过</th>
                    <th>操作</th>
                    <th style="display: none">审核</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in allProposers">
                    <td>{{x.name}}</td>
                    <td>{{x.userId}}</td>
                    <td>{{x.count}}</td>
                    <td>{{x.countN}}</td>
                    <td>{{x.classInfo}}</td>
                    <td>
                        <input type="button" value="查看详情" ng-click="tableAction(x.userId)">
                        <input type="button" value="通过申请" ng-if="isSuperAdmin" class="superAdminButton">
                        <input type="button" value="驳回申请" ng-if="isSuperAdmin" class="superAdminButton">
                        <input type="button" value="删除此人" ng-if="isSuperAdmin" class="superAdminButton">
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="margin-top: 20px">
                <span>
                    {{proposerCount}}
                </span>
                <span style="float: right;cursor: pointer">
                    <a>上一页</a>
                    <a>下一页</a>
                </span>
            </div>
        </div>
    </div>
    <div class="modal fade sewDetail" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div style="background-color: rgb(255,255,255);;width: 800px;height: 600px;position: fixed;left: 50%;top: 50%; margin: -300px 0 0 -400px;overflow: auto;padding: 10px">
            <div style="margin-left: 10px;font-size: 30px">
                <span>姓名：{{model.student.name}}</span>
                <span>学号：{{model.student.id}}</span>
                <span>班级：{{model.student.classInfo}}</span>
            </div>
            <div style="margin-top: 50px" class="well">申请书（图片）已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 200px">文件名</td>
                    <td style="width: 100px">上传时间</td>
                    <td style="width: 50px">状态</td>
                    <td style="width: 60px">审核</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in proposerFile0">
                    <td style="text-overflow:ellipsis;width: 200px;cursor: pointer">
                        <a ng-click="fileAction(0,x.proposerId)">{{x.fileName}}</a>
                    </td>
                    <td>
                        {{timeConvert(x.date.time)}}
                    </td>
                    <td>
                        {{statusConvert(x.status)}}
                    </td>
                    <td>
                        <input type="button" ng-click="accept(x.proposerId)" value="通过">
                        <input type="button" ng-click="disAccept(x.proposerId)" value="不通过">
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="margin-top: 50px" class="well">申请书（Word）已上传文件列表</div>
            <table class="table" style="background: #b3b3b3">
                <thead>
                <tr>
                    <td style="width: 200px">文件名</td>
                    <td style="width: 100px">上传时间</td>
                    <td style="width: 50px">状态</td>
                    <td style="width: 60px">审核</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in proposerFile1">
                    <td style="text-overflow:ellipsis;width: 200px;cursor: pointer">
                        <a ng-click="fileAction(1,x.proposerId)">{{x.fileName}}</a>
                    </td>
                    <td>
                        {{timeConvert(x.date.time)}}
                    </td>
                    <td>
                        {{statusConvert(x.status)}}
                    </td>
                    <td>
                        <input type="button" ng-click="accept(x.proposerId)" value="通过">
                        <input type="button" ng-click="disAccept(x.proposerId)" value="不通过">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>