<div ng-controller="proposerUCtrl">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="height: 30%">
            <div style="width: 100%">
                <span style="font-size: 20px;font-weight: bold">申请书图片上传格式说明：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload1Instruction}}</textarea>
            </div>
            <div style="height: 200px">
                <div class="col-md-7" style="padding: 0">
                    <div style="overflow-x: auto; overflow-y: auto; height: 180px;width: 500px">
                        <table class="table table-striped table-bordered table-hover" align="center" width="500px">
                            <tr>
                                <td>文件名</td>
                                <td>状态</td>
                                <td>删除</td>
                            </tr>
                            <tr ng-repeat="x in proposerImageFileList">
                                <td><a ng-click="ImageShow(this)" style="cursor:pointer">{{x.name}}</a></td>
                                <td>已上传</td>
                                <td>
                                    <button ng-click="delete(this.x)">删除</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"
                              style="font-size: 20px;color: green"></span>
                        <span style="font-size: 20px">审核通过</span>
                    </button>
                    <br>
                    <label for="proposerImageFileChoose" class="btn btn-default btn-lg"
                           style="margin-top: 10px;background: #3e58c7;width: 140px;color: white">
                        <span style="font-size: 20px">选择文件</span>
                    </label>
                    <div style=" width:200px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;">
                        {{imageFileChose}}
                    </div>
                    <label for="proposerImageFileUpload" class="btn btn-default btn-lg"
                           style="margin-top: 10px;background: #3e58c7;width: 140px;color: white">
                        <span style="font-size: 20px">上传</span>
                    </label>
                    <form style="display: none" action="/proposer/fileUpload.do" method="post"
                          enctype="multipart/form-data">
                        <input id="proposerImageFileChoose" type="file"
                               onchange="angular.element(this).scope().proposerImageFileUploadChoose()" accept="image/*"
                               ng-model="proposerImageFileUpload" name="file"/>
                        <input id="proposerImageFileUpload" type="button" ng-click="upload('proposerImageFileChoose')">
                    </form>
                </div>
            </div>
        </div>
        <div style="height: 30%;margin-top: 30px">
            <div style="width: 100%">
                <span style="font-size: 20px;font-weight: bold">申请书word上传格式说明：</span><br/>
                <textarea style="width: 60%" rows="5" readonly>{{upload2Instruction}}</textarea>
            </div>
            <div style="height: 200px">
                <div class="col-md-8" style="padding: 0">
                    <div style="overflow-x: auto; overflow-y: auto; height: 180px;width: 500px">
                        <table border="1" align="center" width="500px">
                            <tr>
                                <td>文件名</td>
                                <td>状态</td>
                                <td>操作</td>
                            </tr>
                            <tr ng-repeat="x in proposerWordFileList">
                                <td><a ng-click="wordDownload(this)" style="cursor:pointer">{{x.name}}</a></td>
                                <td>已上传</td>
                                <td>
                                    <button ng-click="action(this)">删除</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"
                              style="font-size: 20px;color: green"></span>
                        <span style="font-size: 20px">审核通过</span>
                    </button>
                    <br>
                    <label for="proposerWordFileUpload" class="btn btn-default btn-lg"
                           style="margin-top: 80px;background: #3e58c7;width: 140px;color: white">
                        <span style="font-size: 20px">选择文件</span>
                    </label>
                    <input id="proposerWordFileUpload" type="file" style="display: none"
                           onchange="angular.element(this).scope().proposerWordFileUploadChoose()"
                           accept="application/msword,.docx"/>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-3"></div>
</div>