<html>
<head>
    <title>学生党员信息管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/register.js"></script>
<body ng-app="registerApp" ng-controller="registerCtrl">
<div style="height: 90%;width: 100%">
    <div class="col-md-6 parent" style="height: 100%">
        <div class="parent-center child">
            <img class="img-responsive center-block" src="../img/mainLogo.jpg" style="max-height: 60%;max-width: 60%">
        </div>
    </div>
    <div class="col-md-6  parent">
        <div class="parent-center child">
            <form id="loginForm" class="form-signin">
                学号：<input type="" class="form-control" placeholder="账户/学号" required="" autofocus="" ng-model="userId" style="margin-bottom: 20px">
                姓名：<input type="" class="form-control" placeholder="账户/学号" required="" autofocus="" ng-model="userName" style="margin-bottom: 20px">
                密码：<input type="password" class="form-control" placeholder="密码" required="" ng-model="userPwd1" style="margin-bottom: 20px">
                再次输入密码：<input type="password" class="form-control" placeholder="密码" required="" ng-model="userPwd2" style="margin-bottom: 20px">
                <span style="color: red">{{messageArea}}</span>
                <button class="btn btn-lg btn-primary btn-block" ng-click="registerSubmit()" >注册</button>
            </form>
        </div>
    </div>
</div>
<div class="parent" style="height: 10%;text-align: center">
    <div class="parent-center child">
        <img src="../img/githubLogo.png" style="width: 40px;height: 40px">
        <span style="color: #2b542c;font-size: 15px;font-weight: bold">right&nbsp;information</span>
    </div>
</div>
</body>
</html>
