<div ng-controller="userManagementCtrl">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well adminList" style="background: rgb(179,215,242)">
            管理员
            <span style="float: right;">
                <button class="btn btn-default" style="position:relative;bottom: 10px"
                        ng-click="addAdmin(1)">添加</button>
            </span>
        </div>
        <div class="adminList">
            <table class="table table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>账号</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in admins">
                    <td>{{x.userId}}</td>
                    <td>{{adminStatusConvert(x.status)}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="actionAdminUsers(x.userId,0)">启用</button>
                        <button class="btn btn-default" ng-click="actionAdminUsers(x.userId,1)">停用</button>
                        <button class="btn btn-default" ng-click="actionAdminUsers(x.userId,2)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="well" style="background: rgb(179,215,242)">
            学生信息
            <form class="navbar-form navbar-right" role="search" style="position:relative;bottom: 15px">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="按学号搜索" ng-model="searchUserId">
                </div>
                <button class="btn btn-default">搜索</button>
            </form>
        </div>
        <div>
            <table class="table table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>学号</th>
                    <th>身份</th>
                    <th>班级</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="detailForStudent(x.userId)" ng-repeat="x in students">
                    <td>{{x.name}}</td>
                    <td>{{sexConvert(x.sex)}}</td>
                    <td>{{x.userId}}</td>
                    <td>{{permissionConvert(x.userPermission)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <div class="well">
                导入学生
            </div>
            <div>
                <form>
                    <div class="form-group">
                        <label for="fileName">文件名</label>
                        <input readonly class="form-control" id="fileName" ng-model="fileName">
                    </div>
                    <label for="fileSelect" class="btn btn-primary">选择文件</label>
                    <label class="btn btn-primary" ng-click="uploadFile()">上传</label>
                    <a class="btn btn-primary" href="/template/学生导入.xlsx" ng-click="downLoadTemplate()">下载模板</a>
                    <input type="file" id="fileSelect" style="display: none" name="file"
                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                           onchange="angular.element(this).scope().ChooseFileChange()">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">添加管理员</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="userId">管理员账号</label>
                        <input class="form-control" id="userId" ng-model="addAdminUserId">
                    </div>
                    <div class="form-group">
                        <label for="status">状态</label>
                        <select class="form-control" id="status" ng-model="addAdminStatus">
                            <option value="0" selected>启用</option>
                            <option value="1">停用</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-hide="1!=adminActionFlag">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="addAdminSave()">保存</button>
            </div>
        </div>
    </div>
</div>
</div>
<style>
    table td {
        cursor: pointer;
    }
</style>