<div ng-controller="userManagementCtrl">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well adminList">
            管理员
            <span style="float: right;">
                <button class="btn btn-default">添加</button>
            </span>
        </div>
        <div class="adminList">
            <table class="table table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>账号</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in admins">
                    <td>{{x.userId}}</td>
                    <td>{{adminStatusConvert(x.status)}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="actionAdminUsers(x.userId,0)">启用</button>
                        <button class="btn btn-default" ng-click="actionAdminUsers(x.userId,1)">停用</button>
                        <button class="btn btn-default" ng-click="actionAdminUsers(x.userId,2)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="well">学生信息</div>
        <div>
            <table class="table table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>学号</th>
                    <th>身份</th>
                    <th>班级</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="detailForStudent(x.userId)" ng-repeat="x in students">
                    <td>{{x.name}}</td>
                    <td>{{sexConvert(x.sex)}}</td>
                    <td>{{x.userId}}</td>
                    <td>{{permissionConvert(x.userPermission)}}</td>
                    <td>{{x.classInfo}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    table td {
        cursor: pointer;
    }
</style>