<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pmim.mapper.ProbationaryMapper">
    <insert id="insertProbationary" parameterType="pmim.model.Probationary">
        insert into Probationary (`ProbationaryId`,`userId`,`fileName`,`status`,`date`,`index`) values (#{ProbationaryId},#{userId},#{fileName},#{status},#{date},#{index});
    </insert>
    <update id="deleteProbationaryById" parameterType="pmim.model.Probationary">
        update Probationary set status=-1 where ProbationaryId=#{ProbationaryId};
    </update>
    <select id="selectProbationaryById" parameterType="pmim.model.SysUser" resultType="pmim.model.Probationary">
        select * from Probationary where userId=#{userId};
    </select>
    <select id="selectProbationaryByIdUndeleted" parameterType="pmim.model.SysUser" resultType="pmim.model.Probationary">
        select * from Probationary where userId=#{userId} and status != -1;
    </select>
    <update id="acceptProbationaryById" parameterType="pmim.model.Probationary">
        update Probationary set status=1 where probationaryId=#{probationaryId};
    </update>
    <update id="disAcceptProbationaryById" parameterType="pmim.model.Probationary">
        update Probationary set status=2 where probationaryId=#{probationaryId};
    </update>
    <select id="selectProbationaryByProbationaryId" parameterType="pmim.model.Probationary" resultType="pmim.model.Probationary">
        select * from Probationary where probationaryId=#{probationaryId};
    </select>
    <select id="selectProbationaryByIdDisapproved" parameterType="pmim.model.SysUser" resultType="pmim.model.Probationary">
        select * from Probationary where userId=#{userId} and status = 1;
    </select>
</mapper>