<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pmim.mapper.ProposerMapper">
    <insert id="insertProposer" parameterType="pmim.model.Proposer">
        insert into proposer (`proposerId`,`userId`,`fileName`,`status`,`date`,`index`) values (#{proposerId},#{userId},#{fileName},#{status},#{date},#{index});
    </insert>
    <update id="deleteProposerById" parameterType="pmim.model.Proposer">
        update proposer set status=-1 where proposerId=#{proposerId};
    </update>
    <select id="selectProposerById" parameterType="pmim.model.Proposer" resultType="pmim.model.Proposer">
        select * from proposer where userId=#{userId};
    </select>
    <select id="selectProposerByIdUndeleted" parameterType="pmim.model.SysUser" resultType="pmim.model.Proposer">
        select * from proposer where userId=#{userId} and status != -1;
    </select>
    <select id="selectProposerByIdDisapproved" parameterType="pmim.model.SysUser" resultType="pmim.model.Proposer">
        select * from proposer where userId=#{userId} and status = 1;
    </select>
    <update id="acceptProposerById" parameterType="pmim.model.Proposer">
        update Proposer set status=1 where ProposerId=#{ProposerId};
    </update>
    <update id="disAcceptProposerById" parameterType="pmim.model.Proposer">
        update Proposer set status=2 where ProposerId=#{ProposerId};
    </update>
    <select id="selectProposerByProposerId" parameterType="pmim.model.Proposer" resultType="pmim.model.Proposer">
        select * from Proposer where proposerId=#{proposerId};
    </select>
</mapper>