<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pmim.mapper.proposerMapper">
    <insert id="insertProposer" parameterType="pmim.model.proposer">
        insert into proposer (`proposerId`,`userId`,`fileName`,`status`,`date`,`index`) values (#{proposerId},#{userId},#{fileName},#{status},#{date},#{index});
    </insert>
    <delete id="deleteProposerById" parameterType="pmim.model.user">
        delete from proposer where userId=#{userId};
    </delete>
    <select id="selectProposerById" parameterType="pmim.model.user" resultType="pmim.model.proposer">
        select * from proposer where userId=#{userId};
    </select>
</mapper>