<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pmim.mapper.uploadInfoMapper">
    <select id="selectUploadInfoById" parameterType="pmim.model.user" resultType="pmim.model.uploadInfo">
        select * from uploadinfo where userId=#{userId};
    </select>
</mapper>