<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.userMapper">
    <insert id="insertUser_register" parameterType="pmim.model.user">
        insert into user (userId,userPwd,userPermission,status) values (#{userId},#(userPwd),#(userPermission),#(userStatus));
    </insert>
</mapper>