<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pmim.mapper.UserMapper">
    <insert id="insertUser_register" parameterType="pmim.model.SysUser">
        insert into user (`userId`,`userPwd`,`userPermission`,`status`,`userPath`) values (#{userId},#{userPwd},#{userPermission},#{status},#{userPath});
    </insert>
    <select id="selectUser_withNoPwd" resultType="pmim.model.SysUser" parameterType="pmim.model.SysUser">
        select * from user where userId=#{userId};
    </select>
    <select id="selectUserByPermission" resultType="pmim.model.SysUser" parameterType="pmim.model.SysUser">
        select * from user where userPermission=#{userPermission};
    </select>
    <delete id="deleteUserById" parameterType="pmim.model.SysUser">
        delete from user where userId=#{userId};
    </delete>
    <update id="updateUserPath" parameterType="pmim.model.SysUser">
        update user set userPath=#{userPath} where userId=#{userId};
    </update>
    <select id="selectUsersByPage" parameterType="pmim.model.PageAble" resultType="java.util.Map">
        <!-->select * from basalInfo where status !=-1 and userPermission=#{userType} limit #{resLimit},#{desLimit};<-->
        select * from basalInfo where status !=-1 and userPermission=#{userType};
    </select>
    <select id="selectUsersById" parameterType="pmim.model.SysUser" resultType="pmim.model.Proposer">
        select * from basalInfo where status !=-1 and userId=#{userId};
    </select>
    <update id="updateUserById" parameterType="pmim.model.SysUser">
        update user set status=#{status},userPermission=#{userPermission} where userId=#{userId};
    </update>
    <update id="update2Proposer" parameterType="pmim.model.SysUser">
        update user set userPermission=#{userPermission},proposerDate=#{proposerDate} where userId=#{userId};
    </update>
    <update id="updatePasswordById" parameterType="pmim.model.SysUser">
        update user set userPwd=#{userPwd}
    </update>
    <update id="update2Activist" parameterType="pmim.model.SysUser">
        update user set userPermission=#{userPermission}, activistDate=#{activistDate} where userId=#{userId};
    </update>
    <update id="update2Development" parameterType="pmim.model.SysUser">
        update user set userPermission=#{userPermission},developmentDate=#{developmentDate} where userId=#{userId};
    </update>
    <update id="update2Probationary" parameterType="pmim.model.SysUser">
        update user set userPermission=#{userPermission},probationaryDate=#{probationaryDate} where userId=#{userId};
    </update>
    <update id="update2PartyMember" parameterType="pmim.model.SysUser">
        update user set userPermission=#{userPermission},partyMemberDate=#{partyMemberDate} where userId=#{userId};
    </update>
    <update id="changePassword" parameterType="pmim.model.SysUser">
        update user set userPwd=#{userPwd} where userId=#{userId};
    </update>
    <update id="addAdmin" parameterType="pmim.model.SysUser">
         insert into user (`userId`,`userPwd`,`userPermission`,`status`,`userPath`) values (#{userId},'96e79218965eb72c92a549dd5a330112',5,#{status},null);
 </update>
</mapper>