<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.userMapper">
    <select id="insertuser" parameterType="pmim.model.user">
		INSERT INTO user (`id`, `password`, `permission`) VALUES (#{id},#{password}, #{permission});
	</select>
    <select id="selectAlluser" resultType="pmim.model.user">
		SELECT * FROM user;
	</select>
    <select id="deleteAlluser">
		DELETE FROM user;
	</select>
    <select id="selectuser" parameterType="pmim.model.user" resultType="pmim.model.user">
		SELECT * FROM user WHERE id = #{id} AND password=#{password};
	</select>
    <select id="selectuser_Nopasswd" parameterType="pmim.model.user" resultType="pmim.model.user">
		SELECT * FROM user WHERE id = #{id};
	</select>
    <select id="delectuser" parameterType="pmim.model.user">
		DELETE FROM user WHERE id = #{id};
	</select>
</mapper>